<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li
      class="page-item"
      [appClsx]="{ disabled: currentPage === 0 }"
      (click)="changeToPage(currentPage - 1)"
    >
      <a class="page-link" href="#">Previous</a>
    </li>
    <ng-container *appTimes="images.length; index as i">
      <li
        class="page-item"
        [appClsx]="{ active: i === currentPage }"
        (click)="changeToPage(i)"
        *ngIf="checkIfShowPagination(i)"
      >
        <a class="page-link" href="#">{{ i + 1 }}</a>
      </li></ng-container
    >
    <li
      class="page-item"
      [appClsx]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" href="#" (click)="changeToPage(currentPage + 1)"
        >Next</a
      >
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<!-- <div [ngSwitch]="currentPage + 1">
  <div *ngSwitchCase="1">We are on page One</div>
  <div *ngSwitchCase="3">We are on page Three</div>
  <div *ngSwitchDefault>Where are we???</div>
</div> -->
